@model List<WebBanTranSua.Models.EF.LoaiSanPham>
@{
    ViewBag.Title = "Shop Trà Sữa";
    Layout = "~/Views/Shared/User/_Layout.cshtml";
    var categorys = (List<WebBanTranSua.Models.EF.LoaiSanPham>)ViewBag.Categorys;
    var slide = (List<WebBanTranSua.Models.EF.Slide>)ViewBag.Slides;
    var slidesNewProducts = (List<WebBanTranSua.Models.EF.SanPham>)ViewBag.SlidesNewProducts;
    var highlightProducts = (List<WebBanTranSua.Models.EF.SanPham>)ViewBag.HighlightProducts;
}
<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">

                @foreach (var item in categorys)
                {
                    <li><a href="/loai-san-pham/@item.maLoaiSanPham"><span class="icon-circle-blank"></span>@item.tenLoaiSanPham</a></li>
                }
                <li style="border:0"> &nbsp;</li>
                <li> <a class="totalInCart" href="cart.html"><strong>Total Amount  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>
            </ul>
        </div>

        <div class="well well-small alert alert-warning cntr">
            <h2>50% Discount</h2>
            <p>
                only valid for online order. <br><br><a class="defaultBtn" href="#">Click here </a>
            </p>
        </div>
        <div class="well well-small"><a href="#"><img src="assets/img/paypal.jpg" alt="payment method paypal"></a></div>

        <a class="shopBtn btn-block" href="#">Upcoming products <br><small>Click to view</small></a>
        <br>
        <br>
        <ul class="nav nav-list promowrapper">
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                    <img src="assets/img/bootstrap-ecommerce-templates.png" alt="bootstrap ecommerce templates">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
            <li style="border:0"> &nbsp;</li>
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                    <img src="assets/img/shopping-cart-template.png" alt="shopping cart template">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
            <li style="border:0"> &nbsp;</li>
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                    <img src="assets/img/bootstrap-template.png" alt="bootstrap template">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="span9">
        <div class="well np">
            <div id="myCarousel" class="carousel slide homCar">
                <div class="carousel-inner">
                    @foreach (var item in slide)
                    {
                        <div class="item">
                            <img style="width:100%" src="~/Content/assets/img/slides/@item.hinhAnh" alt="Slide">
                            <div class="carousel-caption">
                                <h4>@item.name</h4>
                                <p><span>@item.moTaNgan</span></p>
                            </div>
                        </div>
                    }
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>
        <!--
        New Products
        -->
        @*<div class="well well-small">
                <h3>Sản phẩm mới ra mắt </h3>
                <hr class="soften" />
                <div class="row-fluid">
                    <div id="newProductCar" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <ul class="thumbnails">
                                    @foreach (var item in slidesNewProducts)
                                    {
                                        <li class="span3">
                                            <div class="thumbnail">
                                                <a class="zoomTool" href="/chi-tiet-san-pham/@item.maSanPham" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                                                <a href="#" class="tag"></a>
                                                <a href="product_details.html"><img src="~/Content/assets/img/anh/@item.hinhAnh" alt="bootstrap-ring"></a>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#newProductCar" data-slide="prev">&lsaquo;</a>
                        <a class="right carousel-control" href="#newProductCar" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            </div>*@
        <!--
        Featured Products
        -->
        <div class="well well-small">
            <h2> Sản phẩm mới  </h2>
            <hr class="soften" />
            <div class="row-fluid ">
                <ul class="col-md-12" style="display:flex; flex-wrap: wrap; width: 100%; margin-left: 0px; justify-content: space-between;">
                    @foreach (var item in slidesNewProducts)
                    {
                        <li class="" style="width: 32%; list-style: none; padding-top: 10px;">
                            <div class="thumbnail" style="width: 95%;">
                                <a class="zoomTool" href="/chi-tiet-san-pham/@item.maSanPham" title="add to cart"><span class="icon-search"></span> Xem</a>
                                <a href="/chi-tiet-san-pham/@item.maSanPham">
                                    <img src="~/Content/assets/img/anh/@item.hinhAnh" alt="@item.tenSanPham" style="max-width: 100%">
                                </a>
                                <div class="caption">
                                    <h5>@item.tenSanPham</h5>
                                    <h4>
                                        <a class="defaultBtn" href="/chi-tiet-san-pham/@item.maSanPham" title="Click to view"><span class="icon-zoom-in"></span></a>
                                        <a class="shopBtn" href="#" title="add to cart"><span class="icon-plus"></span></a>
                                        <span class="pull-right">@item.giaBan₫</span>
                                    </h4>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                @*@if (slidesNewProducts.Count() < 0)
                    {
                        @:<ul class="thumbnails">
                            foreach (var item in slidesNewProducts)
                            {
                                int i = 0;
                                <li class="span4">
                                    <div class="thumbnail">
                                        <a class="zoomTool" href="/chi-tiet-san-pham/@item.maSanPham" title="add to cart"><span class="icon-search"></span> Xem</a>
                                        <a href="/chi-tiet-san-pham/@item.maSanPham"><img src="~/Content/assets/img/anh/@item.hinhAnh" alt="@item.tenSanPham"></a>
                                        <div class="caption">
                                            <h5>@item.tenSanPham</h5>
                                            <h4>
                                                <a class="defaultBtn" href="/chi-tiet-san-pham/@item.maSanPham" title="Click to view"><span class="icon-zoom-in"></span></a>
                                                <a class="shopBtn" href="#" title="add to cart"><span class="icon-plus"></span></a>
                                                <span class="pull-right">@item.giaBan₫</span>
                                            </h4>
                                        </div>
                                    </div>
                                </li>
                                if ((i + 1) % 3 == 0 || (i + 1) == slidesNewProducts.Count())
                                {
                                @:</ul>
                                if ((i + 1) < slidesNewProducts.Count())
                                {
                                    @:<ul class="thumbnails">
                                    }
                                }
                                i = i + 1;
                            }
                        }*@
            </div>
        </div>
        <hr />

        <div class="well well-small">
            <h2> Sản phẩm nổi bật  </h2>
            <hr class="soften" />
            <div class="row-fluid">
                <ul class="col-md-12" style="display:flex; flex-wrap: wrap; width: 100%; margin-left: 0px; justify-content: space-between;">

                    @foreach (var item in highlightProducts)
                    {
                        <li class="" style="width: 32%; list-style: none; padding-top: 10px;">
                            <div class="thumbnail" style="width: 95%;">
                                <a class="zoomTool" href="/chi-tiet-san-pham/@item.maSanPham" title="add to cart"><span class="icon-search"></span> Xem</a>
                                <a href="/chi-tiet-san-pham/@item.maSanPham">
                                    <img src="~/Content/assets/img/anh/@item.hinhAnh" alt="@item.tenSanPham" style="max-width: 100%">
                                </a>
                                <div class="caption">
                                    <h5>@item.tenSanPham</h5>
                                    <h4>
                                        <a class="defaultBtn" href="/chi-tiet-san-pham/@item.maSanPham" title="Click to view"><span class="icon-zoom-in"></span></a>
                                        <a class="shopBtn" href="#" title="add to cart"><span class="icon-plus"></span></a>
                                        <span class="pull-right">@item.giaBan₫</span>
                                    </h4>
                                </div>
                            </div>
                        </li>
                    }


                </ul>
            </div>
        </div>
        <hr />
        <hr />
    </div>
</div>